<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.bootcss.com/p/buttons/css/buttons.css">

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <title>文件上传</title>
    <script type="text/javascript">
    $(document).ready(function () {
        {% if form.is_bound %}
        $("#uploadWindow").modal("show");
        {% endif %}
    });
        
    </script>
</head>

<body>
    <!-- {% load widget_tweaks %} -->
    <div>
        <button class="btn btn-light" data-toggle="modal" data-target="#uploadWindow">上传数据</button>
    </div>
    <div class="modal fade" id="uploadWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                <!-- {% csrf_token %}  -->
                <div class="modal-content">
                    <div class="modal-header" style="border: 0px; margin: 0px;">
                        <h5 class="modal-title" id="exampleModalLabel">上传你的数据</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <!-- <label for="{{ form.datafile.id_for_label }}"></label>
                            <input type="file" class="form-control-file" name="datafile" 
                                    id="{{ form.datafile.id_for_label }}" required>  -->
                            {% if form.is_bound %}
                            
                                {% if form.datafile.errors %}                                
                                    {% render_field form.datafile class="form-control is-invalid" %}
                                    {% for error in form.datafile.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field form.datafile class="form-control-file is-valid" %}
                                {% endif %}

                            {% else %}                                   
                                {% render_field form.datafile class="form-control-file" %}
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            <!-- <label for="{{ form.description.id_for_label }}">备注（选填）：</label> -->
                            {{ form.description.label_tag }}
                            <!-- <textarea class="form-control" name="description" 
                                    id="{{ form.description.id_for_label }}" rows="3"></textarea> -->
                            {% if form.is_bound %}
                                {% if form.description.errors %}
                                    {% render_field form.description class="form-control is-invalid" rows="3" %}
                                    {% for error in form.description.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field form.description class="form-control is-valid" rows="3" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.description class="form-control" rows="3" %}
                            {% endif %}                            
                            
                        </div>

                    </div>
                    <div class="modal-footer" style="border: 0px; margin: 0px; padding-top: 0px">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                        <button type="submit" class="btn btn-primary">上传</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>