<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal</title>
    <link rel="shortcut icon" href="{% static 'mainpage.ico' %}">
    <link rel="bookmark" href="{% static 'mainpage.ico' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.bootcss.com/p/buttons/css/buttons.css">


    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <title>表格测试</title>

    <style type="text/css">
        body {
            background: #f9f9f9;
        }

        #wrapper {
            padding: 90px 15px;
        }

        .navbar-expand-lg .navbar-nav.side-nav {
            flex-direction: column;
        }

        .header-top {
            box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
        }

        @media(min-width:992px) {
            #wrapper {
                margin-left: 170px;
                padding: 70px 15px 15px;
            }
        }

        .navbar-nav.side-nav {
            background: #f1f1f1;
            box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
            position: fixed;
            top: 60px;
            flex-direction: column !important;
            left: 0;
            width: 150px;
            overflow-y: auto;
            bottom: 0;
            overflow-x: hidden;
            padding-bottom: 40px;
            padding-top: 7px;

        }

        /* #navbarText .nav-pills .nav-item.show .nav-link, */
        #navbarText .nav-pills .nav-item .nav-link.active {
            color: rgb(25, 140, 235);
            background: #dfdddd;
        }

        #navbarText .nav-link {
            color: rgb(65, 64, 64);
            font-weight: 500;
            padding-left: 15px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        #navbarText .nav-link:hover {
            border: none;
            background: #e9e7e7;
        }

        #btn-group-top .btn-left {
            color: white;
            background-color: rgb(25, 140, 235);
        }

        #btn-group-top .btn-left:hover {
            background-color: rgb(22, 130, 219);
        }

        #btn-group-top .btn-right {
            margin-left: 5px;
            background-color: #f9f9f9;
            border-color: rgb(156, 206, 247);
            color: rgb(73, 164, 238);
        }

        #btn-group-top .btn-right:hover {
            color: rgb(66, 146, 212);
        }
    </style>
    <script type="text/javascript">
        
        $(document).ready(function () {
            $('#filetable').DataTable({
                "columnDefs": [{
                    "orderable": false,
                    "targets": 0
                }],
                "order": [
                    [4, 'desc']
                ]
            });

            // {% if form.is_bound %}
            $("#uploadWindow").modal("show");
            // {% endif %}

            // {% if success %}
            alert("上传文件成功！");
            // {% endif %}

            $('#all-select').click(function () {
                $("input[type='checkbox']").each(function () {
                    if ($(this).prop("checked") && (!$('#all-select').prop("checked"))) {
                        $(this).removeAttr("checked");
                    } else if ($('#all-select').prop("checked") && (!$(this).prop("checked"))){
                        $(this).attr("checked", true);
                    }
                })
            });
        });

        function deletedata() {
            var aa = '';
            $("input[type='checkbox']:checkbox:checked").each(function(){ 
                aa+=$(this).val() 
            });
            console.log(aa); 
            var form = document.getElementById("checkbox-form");
            form.action = "{% url 'deletedata' %}";
            form.submit();
            
        }
    </script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar header-top fixed-top navbar-expand-lg navbar-light"
            style="background-color: rgb(255, 255, 255);">
            <a class="navbar-brand" href="{% url 'index' %}" style="font-weight: 600;">大数据试验场数据管理平台</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="nav nav-pills navbar-nav side-nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}" role="tab">主页</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'showdata' %}" role="tab">我的数据</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'showdata' %}" role="tab">数据分析</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link" id="nav-p2-tab" data-toggle="tab" href="#nav-p2" role="tab"
                        aria-controls="nav-p2" aria-selected="false">数据分析</a>
                    </li> -->
                </ul>

                <ul class="navbar-nav ml-md-auto d-md-flex">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login_page' %}"><i title="登录/注册" class="fas fa-user"
                                style="color: rgb(129, 126, 126);"></i></a>
                    </li>
                    {% else %}
                    <li class="nav-item row align-items-center" style="margin-right: 20px">
                        <a style="font-weight: 500; color: rgb(77, 77, 77);">welcome,
                            {{ user.userextension.nickname }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_page' %}"><i title="我的账户" class="fas fa-user"
                                style="color: rgb(129, 126, 126);"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutWindow"
                            style="color: rgb(129, 126, 126);"><i title="退出登录" class="fas fa-sign-in-alt"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- {% load widget_tweaks %} -->
        <!-- {% if not user.is_authenticated %} -->
        <h5>请先登录</h5>
        <!-- {% else %} -->

        <div id="btn-group-top" style="margin-bottom: 10px;">
            <button class="btn btn-left" data-toggle="modal" data-target="#uploadWindow"><i class="fas fa-upload">
                    上传数据</i></button>
            <button class="btn btn-right" data-toggle="modal" data-target="#deleteWindow">
                <i class="fas fa-trash-alt"> 删除数据</i></button>
            <button class="btn btn-right">
                <i class="fas fa-edit"> 重命名</i></button>
        </div>
        <!-- UPLOAD WINDOW -->
        <div class="modal fade" id="uploadWindow" tabindex="-1" role="dialog" aria-labelledby="uploadWindowLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form action="{% url 'showdata' %}" method="POST" enctype="multipart/form-data" novalidate>
                    <!-- {% csrf_token %}  -->
                    <div class="modal-content">
                        <div class="modal-header" style="border: 0px; margin: 0px;">
                            <h5 class="modal-title" id="uploadWindowLabel">上传你的数据</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <!-- <label for="{{ form.datafile.id_for_label }}"></label>
                            <input type="file" class="form-control-file" name="datafile" 
                                    id="{{ form.datafile.id_for_label }}" required>  -->
                                {% if form.is_bound %}

                                {% if form.datafile.errors %}
                                {% render_field form.datafile class="form-control is-invalid" %}
                                {% for error in form.datafile.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% else %}
                                {% render_field form.datafile class="form-control-file is-valid" %}
                                {% endif %}

                                {% else %}
                                {% render_field form.datafile class="form-control-file" %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <!-- <label for="{{ form.description.id_for_label }}">备注（选填）：</label> -->
                                {{ form.description.label_tag }}
                                <!-- <textarea class="form-control" name="description" 
                                    id="{{ form.description.id_for_label }}" rows="3"></textarea> -->
                                {% if form.is_bound %}
                                {% if form.description.errors %}
                                {% render_field form.description class="form-control is-invalid" rows="3" %}
                                {% for error in form.description.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% else %}
                                {% render_field form.description class="form-control is-valid" rows="3" %}
                                {% endif %}
                                {% else %}
                                {% render_field form.description class="form-control" rows="3" %}
                                {% endif %}

                            </div>

                        </div>
                        <div class="modal-footer" style="border: 0px; margin: 0px; padding-top: 0px">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                            <button type="submit" class="btn btn-primary">上传</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- TABLE -->
        <div>
            <form id="checkbox-form" action="" method="POST">
            <table id="filetable" class="table table-striped table-bordered" style="width:100%">

                <thead>
                    <tr>
                        <th><input type="checkbox" id="all-select"></input></th>
                        <th>数据文件名</th>
                        <th>备注</th>
                        <th>大小</th>
                        <th>创建时间</th>

                    </tr>
                </thead>
                <tbody>
                    
                        <!-- {% csrf_token %}  -->
                        {% if data %}
                        {% for datum in data %}
                        <tr>
                            <td><input type="checkbox" id="{{ datum.id }}" name="checkbox_list" value="{{ datum.id }}">
                            </td>
                            <td>{{ datum.datafile.name }}</td>
                            <td>{{ datum.description }}</td>
                            <td>{{ datum.datafile.size|filesizeformat }}</td>
                            <td>{{ datum.createtime|date:"Y-m-d H:i:s" }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                   
                </tbody>
            </table>
            </form>
        </div>

        <!-- {% endif %} -->
    </div>

    <!-- DELETE WINDOW -->
    <div class="modal fade" id="deleteWindow" tabindex="-1" role="dialog" aria-labelledby="deleteWindowLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border: 0px; margin: 0px;">
                    <h5 class="modal-title" id="deleteWindowLabel">确定要删除吗？</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer" style="border: 0px; margin: 0px;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-danger" onclick="deletedata()">删除</button>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGOUT WINDOW -->
    <div class="modal fade" id="logoutWindow" tabindex="-1" role="dialog" aria-labelledby="logoutWindowLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border: 0px; margin: 0px;">
                    <h5 class="modal-title" id="logoutWindowLabel">确定要退出吗？</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer" style="border: 0px; margin: 0px;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">退出</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>